@use "../../App.scss" as *;

.orderCard {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
    border-radius: 10px;
    padding: 10px;

    .header {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        .headerContent {
            display: flex;
            gap: 10px;
            align-items: center;

            .zootaxiIcon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $light-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }


            .datetime {
                font-size: 0.9rem;
                color: $grey;
            }
        }


    }

    .footer {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;

        .fromTo {
            margin-left: 10px;
        }

        .button {
            padding: 10px;
            border: none;
            background-color: $primary-color;
            color: $text-color;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1rem;
            font-family: inherit;
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                background-color: $secondary-color;
                outline: 1px solid $primary-color;
            }
        }
    }
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}