@use "../../App.scss" as *;

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    gap: 10px;

    .cardHeader {
        display: flex;
        gap: 10px;
        align-items: center;

        .cardImage {
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
        
        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

        .cardTitle {
            display: flex;
            gap: 5px;
            
            .title {
                

                .name {
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }

            .rating {
                display: flex;
                gap: 5px;
                align-items: center;

                .ratingValue {
                    font-size: 0.9rem;
                    color: $grey;
                }
            }
        }

        .badge {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            border-radius: 50%;
        }

        .badgePremium {
            background-color: $blue;
        }

        .badgeMedium {
            background-color: $green;
        }
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        gap: 10px;

        .location {
            display: flex;
            align-items: center;
            gap: 10px;

            .locationIcon {
                margin-left: -10px;
            }

            .locationText {
                margin-left: -10px;
            }
        }

        .description {
            font-size: 0.9rem;
        }
    }

    .cardFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;

            .tag {
                background-color: $light-grey;
                color: $grey;
                border-radius: 20px;
                padding: 5px 10px;
            }
        }

        .button {
            border: none;
            border-radius: 10px;
            background-color: $primary-color;
            color: $text-color;
            font-family: $font-family;
            font-size: 0.8rem;
            font-weight: 500;
            padding: 10px;
            cursor: pointer;
            align-self: flex-end;
            width: 100px;
        }
    }
}

.cardPremium.highlight {
  box-shadow: inset 4px 0 0 0 $blue;
}

.cardMedium.highlight {
  box-shadow: inset 4px 0 0 0 $green;
}

.cardBasic.highlight {
  box-shadow: inset 4px 0 0 0 $grey;
}
