@use '../../App.scss' as *;

.pet {
    display: flex;
    gap: 20px;
    min-width: 350px;

    .petAvatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    .petInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .petHeader {
            display: flex;
            justify-content: space-between;
            position: relative;

            .petName {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .petEditButton {
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                background-color: transparent;

                .petEditIcon {
                    transition: scale 0.3s ease;
                }

                &:hover {
                    .petEditIcon {
                        scale: 1.07;
                    }
                }
            }
        }

        .petTags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            span {
                background-color: $light-grey;
                color: $grey;
                border-radius: 20px;
                padding: 5px 10px;
            }
        }
    }
}