@use "../../App.scss" as *;

.sidebar {
  grid-column: 2 / 3;
  background-color: $white;
  height: min-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 20px;

  .logo {
    width: 130px;
    align-self: center;
  }

  .nav {
    width: 100%;
    .navList {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .navItem {
            border-radius: 10px;
            cursor: pointer;

            .navButton {
                color: $text-color;
                display: flex;
                gap: 15px;
                font-weight: 500;
                font-family: inherit;
                font-size: 1rem;
                border: none;
                background-color: transparent;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 15px;
                text-align: left;

                .navIcon {
                    width: 20px;
                    height: 20px;
                  }            
            }

            &:hover {
              background-color: $light-grey;
            }

            &.active {
                background-color: $secondary-color;
                border: 1px solid $primary-color;
            }
        }
    }
  }
}
