@use '../../App.scss' as *;
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .closeButton {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font-size: 30px;
        cursor: pointer;
        color: $white;
        position: absolute;
        top: 5px;
        right: 8px;
    }

    .modalContent {
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        aspect-ratio: 2 / 1;
        border-radius: 10px;
        overflow: hidden;
        
        .postImage {
            overflow: hidden;

            .previewPost {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }

        .postInfo {
            display: grid;
            grid-template-rows: auto auto 1fr auto; 
            height: 100%;
            min-height: 0;

            .postHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
                padding: 10px;
                position: relative;

                .postAuthor {
                    display: flex;
                    gap: 10px;

                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    
                    .author {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        .name {
                            font-size: 1.1rem;
                        }

                        .location {
                            font-size: 0.9rem;
                            color: $grey;
                        }
                    }
                }

                .menuButton {
                    border: none;
                    background: none;
                    cursor: pointer;

                    .menuIcon {
                        width: 20px;
                        height: 20px;
                    }
                }

                .menuContent {
                    position: absolute;
                    bottom: -30px;
                    right: 10px;
                    z-index: 100;
                    background-color: $white;
                    border-radius: 10px;
                    box-shadow: 
                        0 4px 8px rgba(0, 0, 0, 0.1), /* Нижняя тень */
                        // 4px 0 8px rgba(0, 0, 0, 0.1); /* Правая тень */
                        -4px 0 8px rgba(0, 0, 0, 0.1); /* Левая тень */
                        // 0 -4px 8px rgba(0, 0, 0, 0.1); /* Верхняя тень */

                    .deletePostButton {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: $text-color;
                        font-family: inherit;
                        padding: 10px 20px;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $light-grey;
                        }

                        span {
                            color: red;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .postText {
                padding: 10px;
                font-size: 0.9rem;
                border-bottom: 1px solid $light-grey;
            }

            .commentList {
                height: 100%;
                overflow-y: auto;
                padding: 10px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .postFooter {
                margin-top: auto;
                display: flex;
                flex-direction: column;

                .postButtonList {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    padding: 10px 10px 0;
            
                    .postButtonItem {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;
            
                        .postIcon {
                            color: $text-color;
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                        }
                    }
                }
            
                .postTime {
                    color: $grey;
                    font-size: 0.9rem;
                    padding: 5px 10px;
                }
    
                .commentInputWrapper {
                    display: flex;
                    border-top: 1px solid $light-grey;
                    padding: 10px;
    
                    .commentInput {
                        width: 100%;
                        border: none;
                        padding: 5px 10px;
                        font-size: 0.9rem;

                        &:focus, &:focus-visible {
                            outline: none;
                        }
                    }

                    .commentButton {
                        border: none;
                        background: none;
                        cursor: pointer;
                        font-size: 0.9rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:focus, &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}











