@use "../../App.scss" as *;

.event {
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 170px auto;
    gap: 20px;

    .eventImageWrapper {
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;

        .eventImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .eventInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .eventTitleWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .menuButton {
                border: none;
                background: none;
                cursor: pointer;
                padding: 0;

                .menuIcon {
                    width: 20px;
                    height: 20px;
                }
            }

            .menuContent {
                position: absolute;
                bottom: -40px;
                right: 10px;
                z-index: 100;
                background-color: $white;
                border-radius: 10px;
                box-shadow: 
                    0 4px 8px rgba(0, 0, 0, 0.1), /* Нижняя тень */
                    // 4px 0 8px rgba(0, 0, 0, 0.1); /* Правая тень */
                    -4px 0 8px rgba(0, 0, 0, 0.1); /* Левая тень */
                    // 0 -4px 8px rgba(0, 0, 0, 0.1); /* Верхняя тень */

                .deleteButton {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: $text-color;
                    font-family: inherit;
                    padding: 10px 20px;
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: $light-grey;
                    }

                    span {
                        color: red;
                        font-size: 1rem;
                    }
                }
            }
        }

        .eventTitle {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .eventDateTime {
            display: flex;
            align-items: center;
            gap: 15px;

            .dot {
                font-size: 2rem;
            }
        }

        .eventLocation {
            display: flex;
            align-items: center;
            gap: 10px;

            .locationIcon {
                width: 1rem;
                height: 1.5rem;
            }
        }

        .eventDescription {
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
        }

        .eventActions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;

            .eventOrganizer {
                color: $grey;

                .linkProfile {
                    color: $grey;
                    margin-left: 5px;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .joinButton {
                border: none;
                border-radius: 10px;
                background-color: $primary-color;
                color: $text-color;
                font-family: $font-family;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 10px 20px;
                cursor: pointer;

                &.joined {
                    background-color: $secondary-color;
                    border: 1px solid $primary-color;
                    color: $text-color;
                }
            }
        }
    }
}