@use "../../App.scss" as *;

.eventsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    
    .eventFilters {
        display: flex;
        gap: 20px;
    }



    button {
        background: none;
        border: none;
        border-radius: 10px;
        font-family: inherit;
        font-size: 1rem;
        padding: 10px;
        cursor: pointer;
    }

    .allEventsButton, .myEventsButton {
        border: 1px solid $grey;
    }

    .cityFilter {
        padding: 10px;
        border-radius: 10px;
        font-family: inherit;
        font-size: 1rem;
    }

    .createEventButton {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        justify-self: flex-end;
        padding: 10px 20px;

        .plusIcon {
            width: 16px;
            height: 16px;
        }
    }
}