@use "../../App.scss" as *;

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: $white;
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
    position: sticky;
    top: 0;
    border-right: 1px solid $grey;

  .logo {
    width: 130px;
    align-self: center;
  }

  .nav {
    width: 100%;
    .navList {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .navItem {
            border-radius: 10px;
            cursor: pointer;

            .navButton {
                color: $text-color;
                display: flex;
                gap: 15px;
                font-weight: 500;
                font-family: inherit;
                font-size: 1rem;
                border: none;
                background-color: transparent;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 15px;

                .navIcon {
                    width: 20px;
                    height: 20px;
                  }            
            }

            &.active {
                background-color: $secondary-color;
                border: 1px solid $primary-color;
                .navLink {
                    font-weight: 700;
                }
            }
        }
    }
  }
}
