@use '../../App.scss' as *;

.postsPreviewList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;

    .postsPreviewTitle {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .postsPreviewContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}