@use '../../App.scss' as *;

.friendRec {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 130px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $light-grey;

    .friendHeader {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        
        .friendInfo {
            display: flex;
            gap: 10px;
            font-size: 0.9rem;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    .addButton {
        border-radius: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.3s ease;

        &:hover {
            .addIcon {
                color: $primary-color;
           
            }
        }

        .addIcon {
            width: 15px;
            height: 15px;
            color: $text-color;
            transition: all 0.3s ease;
        }
    }
}