@use '../../App.scss' as *;

.friendRec {
    display: grid;
    grid-template-columns: 1fr;
    height: 130px;
    padding: 10px;
    justify-content: center;

    .friendHeader {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        
        .friendInfo {
            display: flex;
            gap: 10px;
            font-size: 0.8rem;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
            }

            .friendText {
                .bio {
                    color: $grey;
                }
            }
        }
    }

    .addButton {
        border-radius: 50%;
        border: 1px solid $primary-color;
        background-color: transparent;
        padding: 8px;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        transition: all 0.3s ease;

        &:hover {
            background-color: $secondary-color;
            transform: scale(1.1);
        }

        .addIcon {
            width: 100%;
            height: 100%;
        }
    }
}