@use '../../App.scss' as *;

.friendRec {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 130px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $light-grey;

    .friendHeader {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        
        .friendInfo {
            display: flex;
            gap: 10px;
            font-size: 0.9rem;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    .subButton {
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: transparent;
        color: $primary-color;
        font-family: $font-family;
        font-size: 0.7rem;
        padding: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $secondary-color;
        }
    }
}