@use '../../App.scss' as *;

.post {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    // border: 1px solid $grey;

    .postTitle {
        display: flex;
        gap: 20px;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }

        .postAuthor {

            .linkProfile {
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: inherit;

                .username {
                    color: $grey;
                }
            }
        }
    }

    .postImage {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 1/1;
    }

    .postInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        .postButtonList {
            display: flex;
            gap: 20px;
            align-items: center;
    
            .postButtonItem {
                display: flex;
                gap: 10px;
                
    
                .postIcon {
                    color: $text-color;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    
        .postTime {
            color: $grey;
            font-size: 14px;
        }
    }
}